@import "tailwindcss";
body{
    font-family: KalamehWeb_Bold ;
    src: url(KalamehWeb_Bold.ttf);
    background: #f9f9f9;
}




@font-face {
    font-family: KalamehWeb_Bold ;
    src: url(KalamehWeb_Bold.ttf);
    font-weight: bolder;
}
